# Data Encoding

In [37]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [38]:
myData = pd.read_csv('SeoulBikeData.csv')
data_oneshot = myData.copy()

In [39]:
hotEnc = OneHotEncoder()

features = data_oneshot[['Seasons']]
encoded = hotEnc.fit_transform(features).toarray()

In [40]:
labels = ['Holiday', 'Functioning Day']

for label in labels:
    labelEnc = LabelEncoder()
    labelEnc = labelEnc.fit(data_oneshot[label])
    data_oneshot[label] = labelEnc.transform(data_oneshot[label])

In [41]:
data_oneshot = data_oneshot.drop(columns='Seasons')

hotEnc.get_feature_names_out()

encoded_df = pd.DataFrame(encoded)
encoded_df.columns = hotEnc.get_feature_names_out()

data_oneshot = pd.concat([data_oneshot, encoded_df], axis=1)


data_oneshot.to_csv("SeoulBikeData_Cleaned.csv")
data_oneshot.head()

         Date  Rented Bike Count  ...  Seasons_Summer  Seasons_Winter
0  01/12/2017                254  ...             0.0             1.0
1  01/12/2017                204  ...             0.0             1.0
2  01/12/2017                173  ...             0.0             1.0
3  01/12/2017                107  ...             0.0             1.0
4  01/12/2017                 78  ...             0.0             1.0

[5 rows x 17 columns]